<div class="container">

	<div class="row">
	  <div class="span12">
	  	<h1>Welcome to the Realtime Communications demos</h1>
	  </div>
	</div>

	<div class="row">
	  <div class="span12">
	  	<p>
				These demos are used as part of a talk. To progress through the demos you'll need to be the speaker and have the credentials needed to progress the state of the demos. You can of course just look at the code and see how it works.
			</p>
			<p>
				You can find the code for the demos here: <a href="https://github.com/pusher/realtime-communications">Realtime Communications in Github</a>
			<p>
			<p>
				You can find the slides for the talk here: <a href="http://www.slideshare.net/leggetter/how-the-realtime-web-is-influencing-the-future-of-communications">How the Realtime Web is Influencing the Future of Communications</a>.
			</p>
			<p>
				To start the demos click <a href="/state/start">here</a>.
			</p>
	  </div>
	</div>

</div> <!-- /container -->